*{
    margin: 0;
    padding: 0;
}
.containerApp2{
    display: grid;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

.ulFromNav li{
    padding: 15px;
}
